---
import Title from "../components/Title.astro";
import { Image } from "astro:assets";
import Text from "../components/Text.astro";
import Check from "../components/Icons/Check.astro";
import Loader from "../components/Icons/Loader.astro";
import { Browser } from "../components/Browser";
import catchySrc from "./assets/catchy/catchy.png";

const roadmaps = [
  {
    title: "Feature flags",
    description:
      "Single variants, multi variants, percentage based rollout, scheduled strategies & more...",
    state: "finished",
  },
  {
    title: "Quantitative analytics",
    description:
      "Pages views per OS, browser, viewports, referrer, most visited page, custom events & more...",
    state: "finished",
  },
  {
    title: "Funnels",
    description:
      "Cross feature flags evaluations with analytics data to understand the audience behaviour.",
    state: "partial",
  },
  {
    title: "Qualitative analytics",
    description:
      "Identifying the user path by emphasizing the most engaged areas of your website.",
    state: "not-started",
  },
  {
    title: "Error & exceptions",
    description:
      "Collect errors & anomalies in a singular dashboard and implement measures to resolve them.",
    state: "not-started",
  },
  {
    title: "Session Recording",
    description:
      "Track user sessions to comprehend what halted their progression.",
    state: "not-started",
  },
];
---

<div class="text-center py-16 md:py-24 px-4">
  <div class="max-w-4xl mx-auto text-center flex flex-col gap-8">
    <Title tag="h2" size="L">The roadmap</Title>

    <Text size="XL" className="!leading-relaxed">
      Fueled by community collaboration, Progressively thrives on openness and
      transparency. Our roadmap is not just a plan, but a promise to evolve and
      grow, reflecting the aspirations and feedback of our users. Together,
      we're building a future that embraces change, guided by the voices of our
      community.
    </Text>
  </div>

  <ol class="md:hidden relative flex flex-col gap-4">
    <div class="bg-slate-200 h-full w-px absolute left-[23px]"></div>
    {
      roadmaps.map((road) => (
        <li class="grid grid-cols-[auto_1fr] gap-4 relative items-center">
          <div class="w-12 flex justify-center">
            {road.state === "finished" ? (
              <div class="bg-emerald-400 rounded-full h-6 w-6 flex items-center justify-center text-white">
                <Check />
              </div>
            ) : road.state === "partial" ? (
              <div class="animate-spin bg-yellow-400 rounded-full h-6 w-6 flex items-center justify-center text-white">
                <Loader />
              </div>
            ) : (
              <div class="bg-slate-200 rounded-full h-6 w-6" />
            )}
          </div>

          <div class="text-left">
            <Text tag="h4" className="font-semibold">
              {road.title}
            </Text>

            <Text>{road.description}</Text>
          </div>
        </li>
      ))
    }
  </ol>

  <ol class="hidden md:flex md:flex-row justify-center pt-20 max-w-6xl mx-auto">
    {
      roadmaps.map((road) => (
        <li class="border-r border-slate-200 border-dashed last:border-0">
          <Text tag="h4" className="font-semibold">
            {road.title}
          </Text>

          <div class="relative flex flex-row items-center justify-center px-24 py-4">
            <div class="bg-slate-200 h-px w-full absolute" />
            <div class="flex flex-row items-center justify-center h-12 relative">
              {road.state === "finished" ? (
                <div class="bg-emerald-400 rounded-full h-12 w-12 flex items-center justify-center text-white">
                  <Check />
                </div>
              ) : road.state === "partial" ? (
                <div class="animate-spin bg-yellow-400 rounded-full h-8 w-8 flex items-center justify-center text-white">
                  <Loader />
                </div>
              ) : (
                <div class="bg-slate-200 rounded-full h-4 w-4" />
              )}
            </div>
          </div>

          <div class="px-4">
            <Text className="text-left">{road.description}</Text>
          </div>
        </li>
      ))
    }
  </ol>

  <div
    class="w-full md:w-1/2 mx-auto -mb-36 md:-mb-48 px-4 relative z-10 pt-20"
  >
    <Browser bg="grey">
      <div class="p-2">
        <Image src={catchySrc} alt="Analytics of progressively.app" />
      </div>
    </Browser>
  </div>
</div>
