---
import { Intersection } from "../components/Intersection";
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import FeatureFlags from "./value/FeatureFlags.astro";
import QuantitativeAnalytics from "./value/QuantitativeAnalytics.astro";
import { Card } from "../components/Card/Card";
import CardContent from "../components/Card/CardContent.astro";
import CardTitle from "../components/Card/CardTitle.astro";
import { BackgroundSwitch } from "../components/BackgroundSwitch";
import { Badge } from "../components/Badge";
import CardAsset from "../components/Card/CardAsset.astro";
import qualitative from "./assets/value/qualitative.png";
import funnels from "./assets/value/funnels.png";

const containerClass = "max-w-screen-2xl w-full mx-auto px-4 md:px-12";
const bigContainerClass = "mx-4 md:mx-12 overflow-auto";
---

<BackgroundSwitch client:load>
  <section>
    <div class={`${containerClass}`}>
      <div class="text-center pt-48 pb-24" id="root">
        <Intersection
          animation="fade-bottom"
          threshold={1}
          rootMargin="0px 0px -15% 0px"
          client:load
        >
          <Title tag="h2" size="XXL">Only the tools that matter</Title>
        </Intersection>
      </div>
    </div>

    <div id="feature-flags-section" class="py-24">
      <div class={containerClass}>
        <Badge scheme="indigo">Shipped!</Badge>
        <Title tag="h3" size="XL" className="pt-2">Feature flags</Title>
        <Text size="XXL" className="pt-4 pb-12 max-w-4xl">
          Feature flags let you turn features on or off with just a click. This
          means you can release new features whenever you're ready.
          Progressively unlocks even more features
        </Text>
      </div>

      <div class={bigContainerClass}>
        <FeatureFlags />
      </div>
    </div>

    <div id="quantitative-analytics-section" class="py-24">
      <div class={containerClass}>
        <Badge scheme="pink">Shipped!</Badge>
        <Title tag="h3" size="XL" className="pt-2">
          Quantitative analytics
        </Title>
        <Text size="XXL" className="pt-4 pb-12 max-w-4xl">
          Collect details about the page being looked at, and include extra
          activities to learn more about your audience's actions.
        </Text>
      </div>
      <div class={bigContainerClass}>
        <QuantitativeAnalytics />
      </div>
    </div>

    <div id="more-to-com-section" class="py-24">
      <div class={containerClass}>
        <Badge scheme="emerald">In progress</Badge>
        <Title tag="h3" size="XL" className="pt-2">
          What are we building right now?
        </Title>
        <Text size="XXL" className="pt-4 pb-12 max-w-4xl">
          We want to provide you the most impactful features that you deserve.
          And we plan to ship the following in the next iterations.
        </Text>
      </div>

      <div class={bigContainerClass}>
        <div class="flex flex-row gap-4">
          <Card>
            <CardAsset colorScheme="emerald">
              <img
                src={funnels.src}
                alt="Qualitative analytics"
                class="rounded-t-xl h-[180px] overflow-hidden object-cover"
              />
            </CardAsset>
            <CardContent>
              <CardTitle>Funnels</CardTitle>

              <Text size="L">
                Cross feature flags evaluations with analytics data to
                understand the audience behaviour.
              </Text>
            </CardContent>
          </Card>

          <Card>
            <CardAsset colorScheme="emerald">
              <img
                src={qualitative.src}
                alt="Qualitative analytics"
                class="rounded-t-xl h-[180px] overflow-hidden object-cover"
              />
            </CardAsset>
            <CardContent>
              <CardTitle>Qualitative analytics</CardTitle>
              <Text size="L">
                Identifying the user path by emphasizing the most engaged areas
                of your website.
              </Text>
            </CardContent>
          </Card>
        </div>
      </div>
    </div>
  </section>
</BackgroundSwitch>
