---
import Title from "../components/Title.astro";
import Text from "../components/Text.astro";
import FeatureFlags from "./value/FeatureFlags.astro";
import funnels from "./assets/value/funnels.png";
import analytics from "./assets/value/page-views.png";
import hotzones from "./assets/value/hot-zones.png";
import Img from "../components/Img.astro";

const row =
  "py-12 md:py-24 grid md:grid-cols-[2fr_3fr] gap-8 md:gap-24 items-center px-8 md:px-24 max-w-screen-2xl mx-auto";
const reverseRow =
  "py-12 md:py-24 flex flex-col-reverse md:grid md:grid-cols-[3fr_2fr] gap-8 md:gap-24 items-center px-8 md:px-24 max-w-screen-2xl mx-auto";
---

<section class="mx-auto max-w-screen-lg py-24">
  <div class="bg-gray-50 lg:rounded-3xl p-12 lg:p-32">
    <Title tag="h2" size="XL" className="text-center lg:text-left">
      One tool to rule them all
    </Title>
    <Text size="XL" className="pt-4 text-center lg:text-left">
      Fed up with juggling between multiple tools for feature management and
      analytics? Say goodbye to the hassle and streamline your workflow by using
      only one tool, <strong class="text-black font-semibold"
        >Progressively.</strong
      >.
    </Text>
  </div>
</section>

<section>
  <div class="sr-only">Only the tools that matter</div>

  <div class={row}>
    <div>
      <Title tag="h3" size="XXL" className="pt-2 text-center md:text-left">
        Feature flags
      </Title>
      <Text size="XL" className="pt-4 max-w-4xl text-center md:text-left">
        Feature flags let you turn features on or off with just a click. This
        means you can release new features whenever you're ready. Progressively
        unlocks even more features
      </Text>
    </div>

    <FeatureFlags />
  </div>
</section>

<div class={reverseRow}>
  <div class="rounded-xl shadow-xl border border-gray-100 bg-gray-50 p-12">
    <Img src={analytics} alt="" />
  </div>

  <div>
    <Title tag="h3" size="XXL" className="pt-2 text-center md:text-left">
      Web analytics
    </Title>
    <Text size="XL" className="pt-4 max-w-4xl text-center md:text-left">
      Collect details about the page being looked at, and include extra
      activities to learn more about your audience's actions.
    </Text>
  </div>
</div>

<div class={row}>
  <div>
    <Title tag="h3" size="XXL" className="pt-2 text-center md:text-left">
      Funnels
    </Title>
    <Text size="XL" className="pt-4 max-w-4xl text-center md:text-left">
      Cross feature flags evaluations with analytics data to understand the
      audience behaviour.
    </Text>
  </div>
  <div class="rounded-xl shadow-xl border border-gray-100 bg-gray-50 p-12">
    <Img src={funnels} alt="" />
  </div>
</div>

<div class={reverseRow}>
  <div class="rounded-xl shadow-xl border border-stone-950 bg-stone-900 p-12">
    <Img src={hotzones} alt="" />
  </div>

  <div>
    <Title tag="h3" size="XXL" className="pt-2 text-center md:text-left">
      Hot zones
    </Title>
    <Text size="XL" className="pt-4 max-w-4xl text-center md:text-left">
      Identifying the user path by emphasizing the most engaged areas of your
      website.
    </Text>
  </div>
</div>

<section class="mx-auto max-w-screen-lg py-24">
  <div class="bg-gray-50 lg:rounded-3xl p-12 lg:p-32">
    <Title tag="h2" size="XL" className="text-center lg:text-left">
      A product built iteratively
    </Title>
    <Text size="XL" className="pt-4 text-center lg:text-left">
      We strongly believe in the power of our community, this project evolves
      with your needs, ensuring it always delivers the solutions you're looking
      for.
    </Text>
  </div>
</section>
