---
import "@fontsource-variable/playfair-display";
import Navbar from "../components/Navbar.astro";
import { Progressively } from "@progressively/server-side";
import Banner from "../components/Banner.astro";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

const { title, description, keywords } = Astro.props;
const currentUrl = Astro.url.toString();

const progressivelySecret = import.meta.env.PROGRESSIVELY_SECRET;

const sdk = Progressively.init({
  secretKey: progressivelySecret,
  apiUrl: "https://progressively-backend.onrender.com", // only necessary when self hosting
});

const { data } = await sdk.loadFlags();

const thanksBannerPh = Boolean(data.flags?.thanksBannerPh);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:title" content={title} />
    <meta property="og:url" content={currentUrl} />
    <meta property="og:image" content="/meta-img.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@_progressively" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/favicon.svg" />

    <link rel="image_src" href="/meta-img.png" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={currentUrl} />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header class="fixed top-0 z-20 w-full">
      {
        thanksBannerPh && (
          <Banner>
            Thanks for your support on{" "}
            <a
              class="font-bold underline"
              href="https://www.producthunt.com/posts/progressively-2"
            >
              ProductHunt
            </a>
            ! We've reached <strong>#7 of the day!</strong> 🥰
          </Banner>
        )
      }
      <Navbar />
    </header>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>

<script>
  const clientKey = import.meta.env.PUBLIC_PROGRESSIVELY_CLIENT;

  import { Progressively } from "@progressively/sdk-js";

  const sdk = Progressively.init(clientKey, {
    apiUrl: "https://progressively-backend.onrender.com",
  });

  sdk.track();

  [
    "nav-docs",
    "nav-getstarted",
    "above-the-fold-cta",
    "relevance-cta",
    "value-cta",
    "conclusion-cta",
    "how-it-works-deploy",
  ].forEach((id) => {
    const el = document.getElementById(id);

    if (el) {
      el.addEventListener("click", () => sdk.track(id));
    }
  });
</script>
