---
import { Card } from "../../components/Card/Card";
import Text from "../../components/Text.astro";
import CardContent from "../../components/Card/CardContent.astro";
import CardTitle from "../../components/Card/CardTitle.astro";
import CardAsset from "../../components/Card/CardAsset.astro";
import analytics from "../assets/value/analytics.png";
import pvb from "../assets/value/pvb.png";
import pvo from "../assets/value/pvo.png";
import pvv from "../assets/value/pvv.png";
import pvr from "../assets/value/pvr.png";
import pvu from "../assets/value/pvu.png";
---

<div class="flex flex-row gap-4">
  <Card>
    <CardAsset colorScheme="pink"><img src={pvb.src} alt="" /></CardAsset>
    <CardContent>
      <CardTitle>Page views by browser</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="pink"><img src={pvo.src} alt="" /></CardAsset>
    <CardContent>
      <CardTitle>Page views by OS</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="pink"><img src={pvv.src} alt="" /></CardAsset>
    <CardContent>
      <CardTitle>Page views by viewport</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="pink"><img src={pvr.src} alt="" /></CardAsset>
    <CardContent>
      <CardTitle>Page views by referer</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="pink"><img src={pvu.src} alt="" /></CardAsset>
    <CardContent>
      <CardTitle>Page views by URL</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="pink">
      <img src={analytics.src} alt="" />
    </CardAsset>
    <CardContent>
      <CardTitle>Unique visitors & bounce rate</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>

  <Card>
    <CardAsset colorScheme="pink" />
    <CardContent>
      <CardTitle>Anonymous</CardTitle>
      <Text>Yooooooo</Text>
    </CardContent>
  </Card>
</div>
